{% extends "base.html" %}


{% block title %} Cerrar venta mesa {% endblock title %}


{% block content %}
                
    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#ffa821; font-style: bold; font-size: 2rem; border-bottom: 1px solid white;">Cerrar venta mesa</div> <br>
            <h2>¿Seguro quieres cerrar venta en la mesa N°: {{ object.table.number }}?</h2>
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn ghost-red">Si, cerrar</button>
            <a href="{% url 'sales-list' %}" class="btn ghost-button">Cancelar</a>
        </div>
        
    </form>

{% endblock content %}