{% extends bill_base %}
{% load static %}


{% block title %} Detalle de venta N° : {{ bill.billno }}{% endblock title %}


{% block content %}

    <div style="color:#ea2088; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">Detalle N° : {{ bill.billno }}</div>

    <br><br>
    
    <form method="post">
    {% csrf_token %}

        <div class="bg">
        
            <br><br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="margin-left: auto; margin-right: auto;">
                    <tbody>
                        
                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;">DETALLE DE VENTA</p> </td>
                        </tr>
                        
                    
                        <tr>
                            <td>
                            <table class="outer-box" style=" margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;PROVEEDOR</td>
                                        <td class="inner-box" style=" font-weight: bold;">&nbsp;VENTA N°</td>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;DIRECCIÓN</td>
                                        <td class="inner-box" style=" font-weight: bold;">&nbsp;FECHA</td>
                                        
                                    <tr>
                                        <td class="inner-box" >&nbsp;{{ bill.supplier.name }}</td>
                                        <td class="inner-box" >&nbsp;{{ bill.billno }}</td>
                                        <td class="inner-box"  rowspan="3">{{ bill.supplier.address|linebreaks }}</td>
                                        <td class="inner-box" >&nbsp;{{ bill.time.date }}</td>
                                    </tr>
                                    </tr>
                                 
                                 
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: auto; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">&nbsp;N°</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">PRODUCTO</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">CANTIDAD</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">PRECIO UNIT</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">TOTAL</td>
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.perprice }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;{{ item.totalprice }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
  

                        <tr>
                            <td style="text-align: center;">
                                THE WATSON BAR
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <br><br>

        </div>

        <br><br>

        <div class="wrapper">
            <button class="center ghost-blue" onclick="printpage('printArea')">Imprimir</button>
            <button class="center ghost-green" type="submit">Guardar borrador</button>
            <a href="{% url 'purchases-list' %}" class=" center ghost-button">Atrás</a>
        </div>

    </form>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}