{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

    <div style="color:#ffa821; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> 
    
    <br>
    
    <form method="post">
        {% csrf_token %}
        

        {{ form.non_field_errors }}
        

        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        

        <br>

        <div class="align-middle">
            <button type="submit" class="btn ghost-green">{{ savebtn }}</button>

            {% if delbtn %}
                <a href="{% url 'delete-stock' object.pk %}" class="btn ghost-red"> Agregar Categoria </a>
            {% endif %}
            <a href="{% url 'inventory' %}" class="btn ghost-button">Cancelar</a>
        </div>
        
    </form>


    <table class="table table-css">

          
    
        </form>
    
        <br>
    
        <thead class="thead-inverse align-middle">
            <tr>
                <th width="50%">Nombre de categoria</th>
                <th width="30%">Opciones</th>
            </tr>
        </thead>
    
       
    
        <tbody>
            {% for category in categories %}
            <tr>
                <td>
                    <h4>{{ category.name }}</h4>
                </td>
                <td class="align-middle">
                    <a href="{% url 'delete-category' category.pk %}" class="btn ghost-red"> Eliminar categoria </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>

{% endblock content %}