{% extends "base.html" %}
{% load static %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

<div style="color:#ffa821; font-style: bold; font-size: 2rem; border-bottom: 1px solid white;">{{title}}</div>

<br>

<form method="post">
    {% csrf_token %}


    {{ form.non_field_errors }}

    <div class="panel-body">

        {% for field in form.visible_fields %}
        <div class="form-group">
            {% if field.label == 'Precio venta' %}

            {{ field.as_hidden }}

            {% else %}
            {% if field.label == 'Para venta al público' %}
            <label for="id_is_for_sale" class="panel-body-text" data-bs-toggle="tooltip" data-bs-placement="right"
                data-type="warning"
                title="Tendrá un precio de venta y aparecerá al momento de hacer una venta en una mesa, de lo contrario, no.">&#9432;
                {{ field.label }} &nbsp; </label>
            {% else %}

            <label class="panel-body-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% endif %}
            {{ field }}
            {% endif %}
        </div>
        {% endfor %}

        <div class="form-group">
            <label for="id_is_manufactured" class="panel-body-text" data-bs-toggle="tooltip" data-bs-placement="right"
                data-type="warning"
                title="No se añadirá al inventario ya que no tiene cantidad en stock">&#9432;
                Es producción propia: &nbsp; </label>
            {{ quantity_formset.is_manufactured }}
        </div>


        <div class="form-group form-row">
                <div class="form-group col-md-3">
                    {{ stock_measure_form.quantity.errors }}
                    <label for="id_quantity" class="panel-body-text">Cantidad:</label>
                    {{ stock_measure_form.quantity }}
                </div>
                
                <div class="form-group col-md-3">
                    <label for="id_unit" class="panel-body-text">Unidad:</label>
                    {{ stock_measure_form.unit.errors }}
                    
                    {{ stock_measure_form.unit }}
                </div>
                

        </div>

    </div>
    <br>

    <div id="stockitem">
        <div class="panel-body">
            {% if formsets %}
            {{ formset.management_form }}
            {{ measure_formset.management_form }}
            {% for form, ingredient_form in formsets %}
            <div class="row form-row">
                <div class="form-group col-md-5">
                    {{ form.ingredient.errors }}
                    <label class="panel-body-text">Ingrediente:</label>
                    {{ form.ingredient }}
                </div>
                
                {{ ingredient_measure_form.management_form }}
                <div class="form-group col-md-3">
                    {{ ingredient_form.quantity.errors }}
                    <label class="panel-body-text">Cantidad:</label>
                    {{ ingredient_form.quantity }}
                </div>
                
                <div class="form-group col-md-3">
                    <label class="panel-body-text">Unidad:</label>
                    {{ ingredient_form.unit.errors }}
                    
                    {{ ingredient_form.unit }}
                </div>

                <div class="form-group col-md-1">
                    <label class="panel-body-text" style="color: #000">.</label>
                    <button class="form-control btn btn-danger remove-form-row">-</button>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {{ formset.management_form }}
            {% for form in formset %}
            <div class="row form-row">
                <div class="form-group col-md-5">
                    {{ form.ingredient.errors }}
                    <label class="panel-body-text">Ingrediente:</label>
                    {{ form.ingredient }}
                </div>
                
                {{ ingredient_measure_form.management_form }}
                {% for ingredient_form in ingredient_measure_form %}
                <div class="form-group col-md-3">
                    {{ ingredient_form.quantity.errors }}
                    <label class="panel-body-text">Cantidad:</label>
                    {{ ingredient_form.quantity }}
                </div>
                
                <div class="form-group col-md-3">
                    <label class="panel-body-text">Unidad:</label>
                    {{ ingredient_form.unit.errors }}
                    
                    {{ ingredient_form.unit }}
                </div>
                {% endfor %}

                <div class="form-group col-md-1">
                    <label class="panel-body-text" style="color: #000">.</label>
                    <button class="form-control btn btn-danger remove-form-row">-</button>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div style="text-align: right;">
                <a href="#" class="add-form-row">+ Agregar más</a>
            </div>
        </div>
    </div>

    <div class="align-middle">
        <button type="submit" class="btn ghost-green">{{ savebtn }}</button>
        {% if title == "New Stock" %}
        <button type="reset" class="btn ghost-blue">Resetear</button>
        {% endif %}
        {% if delbtn %}
        <a href="{% url 'delete-stock' object.pk %}" class="btn ghost-red"> Eliminar productos </a>
        {% endif %}
        <a href="{% url 'inventory' %}" class="btn ghost-button">Cancelar</a>
    </div>


    <br>


</form>

</div>

<!-- Custom JS to add and remove item forms -->
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dialogbox.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })
    //creates custom alert object
    var custom_alert = new custom_alert();

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    //stores the total no of item forms
    var total = {{ formset | length }};

    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        //var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
            var name = $(this).attr('name')
            if (name) {
                name = name.replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({ 'name': name, 'id': id }).val('').removeAttr('checked');
            }
        });
        newElement.find('label').each(function () {
            var forValue = $(this).attr('for');
            if (forValue) {
                forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
                $(this).attr({ 'for': forValue });
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        return false;
    }

    function deleteForm(prefix, btn) {
        //var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1) {
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i = 0, formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).find(':input').each(function () {
                    updateElementIndex(this, prefix, i);
                });
            }
            total--;
        } else {
            custom_alert.render("Campo no puede ser eliminado");
        }
        return false;
    }



    $(document).on('click', '.add-form-row', function (e) {
        e.preventDefault();
        cloneMore('.form-row:last', 'form');
        getUnitChoices()
        return false;
    });

    $(document).on('click', '.remove-form-row', function (e) {
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });


    //updates the total price by multiplying 'price per item' and 'quantity' 
    $(document).on('change', '.setprice', function (e) {
        e.preventDefault();
        //gets the values
        var element = $(this);
        var quantity = element.parents('.form-row').find('.quantity').val();
        var perprice = element.parents('.form-row').find('.price').val();
        //calculates the total
        var tprice = quantity * perprice;
        //sets it to field
        element.parents('.form-row').find('.totalprice').val(tprice);
        return false;
    });
    function getUnitChoices(el, prefix, ndx) {
        var stocksById = {
            {% for stock in stock_quantitys %}
        {% if not forloop.first %}, {% endif %}
        {{ stock.stock.pk }} : {
            unit: {{ stock.quantity.related_units | safe }},
        }
        {% endfor %}


    };
    Array.prototype.forEach.call(
        document.getElementsByClassName('ingredient'), function (element, index) {
            element.addEventListener('change', function (e) {
                e.preventDefault();
                let select = $('#id_ingredient-measure-' + index + '-unit'); // tTODO: add
                    select.find('option')
                    .remove()
                    .end();
    
                    if (stocksById[element.value]){
                    stocksById[element.value].unit.forEach(function(option) {
                        select.append('<option value="'+ option[0]+'">'+option[1]+'</option>')
                        .val(option[0])
                    })
                }else{
                    select.append('<option value="u">UNIDAD/ES</option>')
                        .val('u')
                }
                    
            })
        })
    }
    $(document).ready(getUnitChoices)
    $(document).ready(function () {
        let isForSale = $('#id_is_for_sale');
        let sellPriceInput = $('#id_sell_price')
        sellPriceInput.attr('class', 'textinput form-control')
    
        {% if object.is_for_sale  %}
            sellPriceInput.get('0').type = 'number'
            isForSale.prop( "checked", true );
        {% else %}
            sellPriceInput.val(0);
        {% endif %}
        isForSale.on('change', function () {
            if (isForSale.is(':checked')) {
                sellPriceInput.before('<label class="panel-body-text" for="id_sell_price">Precio venta:</label>')
                sellPriceInput.get('0').type = 'number'
            } else {
                $("label[for='id_sell_price']").remove()
                sellPriceInput.get('0').type = 'hidden';
                sellPriceInput.val(0);
            }
        })


        let isManufactured = $('#id_is_manufactured');
        let quantityInput = $('#id_quantity');
        let unitInput = $('#id_unit');
        let labelForQuantity = $("label[for='id_quantity']")
        let labelForUnit = $("label[for='id_unit']")
        let ingredientsInput = $('#stockitem');
        {% if  empty_stock_quantity %}
        isManufactured.prop( "checked", true );
        quantityInput.get('0').type = 'hidden'
        unitInput.hide()
        ingredientsInput.show();
        labelForQuantity.hide();
        labelForUnit.hide();
        {% else %}
            ingredientsInput.hide();
        {% endif %}
        quantityInput.attr('class', 'textinput form-control')
        
        isManufactured.on('change', function () {
            if (isManufactured.is(':checked')) {
                labelForQuantity.hide();
                labelForUnit.hide()
                quantityInput.get('0').type = 'hidden'
                unitInput.hide()
                ingredientsInput.show();
            
            } else {
                labelForQuantity.show()
                labelForUnit.show()
                quantityInput.get('0').type = 'number'
                unitInput.show()
                ingredientsInput.hide();
            }
        })




    })

</script>



{% endblock content %}