{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

<div style="color:#ffa821; font-style: bold; font-size: 2rem; border-bottom: 1px solid white;">{{title}}</div> <br>

<form method="post">

    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.number.errors }}
    {{ form.waiter.errors }}

    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">N° mesa:</label>
        {{ form.number }}
    </div>


    <div class="form-group">
        <label for="{{ form.address.id_for_label }}">Mozo:</label>
        {{ form.waiter }}
    </div>


    <br>

    <div class="align-middle">
        <button type="submit" class="btn ghost-green">{{ savebtn }}</button>
        {% if title == "Nuevo Proveedor" %}
        <button type="reset" class="btn ghost-blue">Resetear</button>
        {% endif %}
        {% if delbtn %}
        <a href="{% url 'delete-supplier' supplier.pk %}" class="btn ghost-red"> Eliminar mesa </a>
        {% endif %}
        <a href="{% url 'tables-and-waiters' %}" class="btn ghost-button">Cancelar</a>
    </div>

</form>

{% endblock content %}