{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Listado de inventario {% endblock title %}


{% block content %}

<div class="row" style="color: #ffa821; font-style: bold; font-size: 2rem; ">
    <div class="col-md-8">Listado de stock</div>
    <div class="col-md-4">
        <div style="float:right;"> <a class="btn ghost-blue" href="{% url 'new-stock' %}">Agregar nuevo stock</a>
        </div>
    </div>
</div>

<div style="border-bottom: 1px solid white;"></div>

<br>

<div class="row">
    <div class="col mx-auto">

        <form method="get">
            <div class="row">
                <div class="input-group mb-3 col-12 col-lg-6" style="flex-wrap:nowrap;">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_name">Nombre</label>
                    </div>
                    {% render_field filter.form.name class="textinput" placeholder="Buscar por nombre" %}
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-pink"> Buscar </button>
                    </div>
                </div>

                <div class="input-group mb-3 col-12 col-lg-6" style="flex-wrap:nowrap;">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="selectCategory">Categorias</label>
                    </div>
                    {% render_field filter.form.category class="textinput" %}
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-pink"> Buscar </button>
                    </div>
                </div>
            </div>
        </form>



<div class="content-section">
    <div class="row">
        {% for category, items in categories.items %}
        <div class="col">
            

            <div style="color:#ffa821; font-style: bold; font-size: 1.3em; border-bottom: 2px solid #fff"> {{ category }} </div><br>
            
            {% if items %}
            <table class="table table-css">


                <thead class="thead-inverse align-middle">
                    <tr>
                        <th >Nombre de producto</th>
                        <th >Precio compra</th>
                        <th >Precio venta</th>
                        <th>Costo</th>
                        {% if request.GET.o == "o" %}
                        <th > <a href="?name={{ request.GET.name }}&category={{ request.GET.category }}&o=-o">

                                {% else %}
                        <th > <a href="?name={{ request.GET.name }}&category={{ request.GET.category }}&o=o">
                                {% endif %}Stock en el inventario</a></th>
                        <th >Opciones</th>
                    </tr>
                </thead>


                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>
                            <h6>{{ item.name }}</h6>
                        </td>
                        
                        <td class="align-middle">${{ item.get_buy_price }}</td>
                        <td class="align-middle">${{ item.sell_price }}</td>
                        <td class="align-middle">${{ item.display_cost }}</td>
                        <td class="align-middle">{{ item.get_quantity }}</td>
                        <td class="align-middle">
                            <a href="{% url 'edit-stock' item.pk %}" class="btn ghost-button">Editar detalles</a>
                            <a href="{% url 'delete-stock' item.pk %}" class="btn ghost-red"> Eliminar stock
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            {% else %}

            <div style="color: #ffa821; font-style: bold; font-size: 1.5rem; text-align: center;">Ups, parece vacío</div>

            {% endif %}




    </div>
    {% endfor %}

</div>

</div>




<div class="align-middle">
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">Primero</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previo</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
        href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Último</a>
        {% endif %}

        {% endif %}
</div>


{% endblock content %}