{% extends "base.html" %}


{% block title %} Mesas y mozos {% endblock title %}


{% block content %}

<div style="color:#ffa821; font-style: bold; font-size: 2rem; border-bottom: 1px solid white;">Agregar mesa o mozo</div> <br>



    <div class="d-flex justify-content-around">

        <a href="{% url 'new-table' %}" class="btn ghost-green"> Agregar mesa </a>
        <a href="{% url 'new-waiter' %}" class="btn ghost-button">Agregar mozo</a>
    </div>

    <div class="content-section">
        <div class="row">
    
            <div class="col-md-6">
                <div style="color:#ffa821; font-style: bold; font-size: 1.3em; border-bottom: 2px solid #fff">Mesas</div><br>
                {% for table in tables %}
                {% if not forloop.first %}
                <br>
                <div style="border-bottom: 0.5px solid #fff"></div><br>
                {% endif %}
                <div class="row">
                    <div class="col-md-8">
                        Mesa N°: {{ table.number }} <br>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'edit-table' table.pk %}" class="btn ghost-button">Editar mesa</a>
                        <a href="{% url 'delete-table' table.pk %}" class="btn ghost-red"> Eliminar mesa</a>
                    </div>
                </div>
                {% endfor %}
            </div>
    
            <div class="col-md-6">
                <div style="color:#ffa821; font-style: bold; font-size: 1.3em; border-bottom: 2px solid #fff">Mozos</div><br>
                {% for waiter in waiters %}
                {% if not forloop.first %}
                <br>
                <div style="border-bottom: 0.5px solid #fff"></div><br>
                {% endif %}
                <div class="row">
                    <div class="col-md-8">
                        Mozo: {{ waiter.name }} <br>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'edit-waiter' waiter.pk %}" class="btn ghost-button">Editar mozo</a>
                        <a href="{% url 'delete-waiter' waiter.pk %}" class="btn ghost-red"> Eliminar mozo</a>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
    
        </div>
    </div>


{% endblock content %}