{% extends "base.html" %}


{% block title %} Acerca de {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn ghost-button">Go Back</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #ffa821; font-style: bold; font-size: 2rem;">Watson Bar</div>
    <div class="align-middle" style="color: #fff">Un sistema de inventario</div>
    <br><br>

    <div class="align-middle"> 
        <h2 style="color:#ffa821">| Qué es |</h3> <br>
            <p>
                Sitema de inventario simple realizado a medida.
                El sofware permite realizar el seguimiento de productos entrantes y salientes, para así llevar un control detallado de stock. 
            </p>
        <br>
    </div>
        <h2 style="color:#ffa821" class="align-middle">| Características |</h3> <br>
            <ul style="display:table; margin:0 auto;">
                <li>Visualización detallada de productos que están quedando fuera de stock</li>                
                <li>Detalles del cantidad disponible en cada producto</li>
                <li>Posibilidad de filtrar productos por categoria, busqueda por nombre, etc</li>
                <li>Sección para registrar compras y ventas</li>
                <li>Posibilidad de distintos administradores en el sistema</li>
                <li>Registro de transacciones (quién compró, vendió y cuándo)</li>
                <li>Capacidad para de agregar distintos proveedores</li>
                <li>Accesible desde cualquier lugar desde un sitio web</li>
            </ul>  
        <br>
    <div class="align-middle">
        <h2 style="color:#ffa821" >| Precio |</h3> <br>
            <p>$7.400</p>
            <br><br><br>
    </div>




{% endblock content %}