{% extends "base.html" %}


{% block title %} About {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn ghost-button">Go Back</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #ea2088; font-style: bold; font-size: 3rem;">Watson Bar</div>
    <div class="align-middle" style="color: #fff">Un sistema de inventario</div>
    <br><br>

    <div class="align-middle"> 
        <h2 style="color:#ea2088">| Qué es |</h3> <br>
            <p>
                Sitema de inventario simple realizado a medida para las necesidades del negocio.
                El sofware permite realizar el seguimiento de productos entrantes y salientes, para así llevar un contro detallado de stock. 
            </p>
        <br>
    </div>
        <h2 style="color:#ea2088" class="align-middle">| Características |</h3> <br>
            <ul style="display:table; margin:0 auto;">                
                <li>Detalles del stock disponible</li>
                <li>Sección de compras, ventas e inventario</li>
                <li>Registro de transacciones</li>
                <li>Ingreso y egreso de productos</li>
                <li>Posibilidad de agregar proveedores con sus distintis productos</li>
                <li>Posibilidad de agregar administradores del stock</li>
            </ul>  
        <br>
    <div class="align-middle">
        <h2 style="color:#ea2088" >| Precio |</h3> <br>
            <p>$7.800</p>
            <br><br><br>
    </div>

{% endblock content %}